.idea
*.pyc
*.orig
*.iml
*.cmd
cache
media
env
venv
locale/*
dump
robots.txt
/index.html
logs
local_settings.py
sync/archive
location/archive
/static
/static/temp
/static/flexselect
/static/fonts
/static/images
/static/js
static/admin
static/debug_toolbar
static/django_mptt_admin
static/ckeditor
static/mptt
static/smart-selects
static/modeltranslation
package-lock.json
/sql
*/management/data

node_modules
.DS_Store
*.sublime-project
*.sublime-workspace
